@font-face {
  font-family: 'Gilroy-bold';
  src: url('../fonts/Gilroy/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-medium';
  src: url('../fonts/Gilroy/Gilroy-medium.eot');
  src: url('../fonts/Gilroy/Gilroy-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-medium.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
